{% extends 'Art_Nouveau/base.html' %}
{% load static %}

{% block title %}Home | Art Nouveau{% endblock %}

{% block nav_extra %}
    <span class="nav-sep">|</span>
    <div class="dropdown">
        <button class="dropdown-btn">
            Navigate <i class="fa-solid fa-caret-down" style="font-size: 0.6em;"></i>
        </button>
        <div class="dropdown-content">
            <a href="#index-intro">Introduction</a>
            <a href="#index-dali">The Salvador Dali Exposition</a>
            <a href="#index-arhitecture">Arhitecture Awards 2025</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

    <section id="index-intro">
        <img src="{% static "Art_Nouveau/images/main.jpg" %}" alt="" height="600px"/>
        <div id="index-intro-text">
            <p>
                A singular destination for both the connoisseur and the creator. <br>Acquire fine art from our hand-selected gallery or utilize our integrated studio to bring your own concepts to fruition.
            </p>
            <br><br>
            <a href="{% url 'register' %}"><div class="sep-square"></div> Join us.</a>
        </div>
    </section>
    <br><br>
    <section id="index-dali" class="exposition">
        <h1>The Salvador Dali Exposition</h1>
        <br>
        <div class="exposition-gallery">
            <div class="exposition-item">
                <img src="{% static "Art_Nouveau/images/dali1.jpg" %}" alt="" height="500px"/>
                <div class="exposition-item-text">
                    <h2>The Persistence of Memory</h2>
                    <p>Salvador DALI</p>
                </div>
            </div>

            <div class="exposition-item">
                <img src="{% static "Art_Nouveau/images/dali2.jpg" %}" alt="" height="500px"/>
                <div class="exposition-item-text">
                    <h2>Galatea of the Spheres</h2>
                    <p>Salvador DALI</p>
                </div>
            </div>

            <div class="exposition-item">
                <img src="{% static "Art_Nouveau/images/dali3.jpg" %}" alt="" height="500px"/>
                <div class="exposition-item-text">
                    <h2>The Hallucinogenic Toreador</h2>
                    <p>Salvador DALI</p>
                </div>
            </div>

            <div class="exposition-item">
                <img src="{% static "Art_Nouveau/images/dali4.jpg" %}" alt="" height="500px"/>
                <div class="exposition-item-text">
                    <h2>The Burning Giraffe</h2>
                    <p>Salvador DALI</p>
                </div>
            </div>
        </div>
    </section>
    <br><br>
    <section id="index-arhitecture" class="exposition">
        <h1>Arhitecture Awards 2025</h1>
        <br>
        <div class="exposition-gallery">
            <div class="exposition-item">
                <img src="{% static "Art_Nouveau/images/arh1.jpg" %}" alt="" height="500px"/>
                <div class="exposition-item-text">
                    <h2>Urban Dystopia</h2>
                    <p>Armand MERGEDIA</p>
                </div>
            </div>

            <div class="exposition-item">
                <img src="{% static "Art_Nouveau/images/arh2.jpg" %}" alt="" height="500px"/>
                <div class="exposition-item-text">
                    <h2>Posers</h2>
                    <p>Raluca-Melinda UMUT</p>
                </div>
            </div>

            <div class="exposition-item">
                <img src="{% static "Art_Nouveau/images/arh3.jpg" %}" alt="" height="500px"/>
                <div class="exposition-item-text">
                    <h2>Nonconformism</h2>
                    <p>Alex VELEA-CORTEZ</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}